[submodule "binutils"]
	path = binutils
	url = https://openrisc.net/jonas/binutils-svn
[submodule "gcc"]
	path = gcc
	url = https://openrisc.net/jonas/gcc-svn
[submodule "linux"]
	path = linux
	url = https://openrisc.net/jonas/linux
[submodule "uClibc"]
	path = uClibc
	url = https://openrisc.net/jonas/uClibc
[submodule "or1ksim"]
	path = or1ksim
	url = https://openrisc.net/jonas/or1ksim-svn
[submodule "gdb"]
	path = gdb
	url = https://openrisc.net/jonas/gdb
[submodule "openOCD"]
	path = openOCD
	url = https://github.com/kevinmehall/openOCD.git
